<% provide(:title, "パスワード変更") %>




<div id="container">
  <div class="user-container">
    <h3 class="page-title page-title-users">パスワード変更
      <hr>
    </h3>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :new_password %><%= "（#{@minimum_password_length}文字以上）" %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
          <br />
          
        <% end %>
      </div>

      <div class="field">
        <%= f.label :new_password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "current-password-label" %> <br>
        <h6>(変更するには現在のパスワードが必要です)</h6><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary", data: {disable_with: "送信中..."} %>
      </div>
    <% end %>
  </div>
</div>




<%= link_to "Back", :back %>
