<% provide(:title, "プロフィール編集") %>
<div class="user-container">
  <h3 class="page-title">プロフィール編集</h3>
  <div>
    <%= form_for(@user) do |f| %>
      <% if @user.image? %>
        <%= image_tag @user.image.thumb.url, class: "user-icon" %>
      <% else %>
        <%= image_tag "default.jpg", alt: "user-icon", size: "200", class: "user-icon" %>
      <% end %>
      <button type="button" class="btn btn-outline-secondary rounded-pill">
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "image-select-btn" %>
      </button>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", id: "user_name", maxlength: "20"  %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control", id: "user_email", maxlength: "50" %>
      </div>
      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, class: "form-control", id: "user_introduction", maxlength: "200" %>
      </div>
      <%= f.submit "プロフィールを更新", class: "btn btn-primary" %>
    <% end %>
    <div class="acount-destroy">
      <%= link_to "アカウントを削除する", user_path(@user.id), method: :delete, data: {confirm: "本当にアカウントを削除しますか?", cancel: "やめる", commit: "削除する"}, title: "削除確認", class: "acount_destroy" %>
    </div>
  </div>
</div>