<% provide(:title, 'フォロワー') %>
<div id="container">
  <div class="user-container follow-and-follower-container user-index-container">
    <% if current_user == @user %>
      <h3 class="page-title page-title-users">
        <%= "#{@user.name}のフォロワー" %>
        <hr class="users-show-hr">
      </h3>
    <% else %>
      <h3 class="page-title page-title-users">
        <%= "#{@user.name}さんのフォロワー" %>
        <hr class="users-show-hr">
      </h3>
    <% end %>
    <table>
      <% if @users.blank? %>
        <p class="follow-and-follower-blank">まだフォロワーはいません</p>
      <% else %>
        <% @users.each do |user| %>
          <tr>
            <td align="center" class="td-user-icon">
              <%= link_to user do %>
                <% if user.image? %>
                  <%= image_tag user.image.thumb.url, size: "50",  class: "user-icon" %>
                <% else %>
                  <%= image_tag "default.jpg", alt: "user-icon", size: "50", class: "user-icon" %>
                <% end %>
              <% end %>
            </td>
            <td align="left" class="td-user-name">
              <%= link_to user.name, user, class: "index-user-name" %>
            </td>
            <td>
              <% if current_user != user %>
                <%= render "users/follow_form" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>  
  </div>
</div>