<% provide(:title, "マイページ") %>

<div id="container">
  <div class="user-container user-container-show">
    <% if current_user == @user %>
      <h3 class="page-title page-title-users">マイページ
        <hr>
      </h3>
    <% else %>
      <h3 class="page-title page-title-users">プロフィール
        <hr>
      </h3>
    <% end %>
    <% if @user.image? %>
      <%= image_tag @user.image.thumb.url, size: "200", class: "user-icon" %>
    <% else %>
      <%= image_tag "default.jpg", alt: "user-icon", size: "200", class: "user-icon" %>
    <% end %>
    <div class="user-name">
      <%= @user.name %>
    </div>
    <% if current_user == @user %>
      <div class="user-email">
        E-mail：<%= @user.email %>
      </div>
    <% end %>
    <div class="user-introduction">
      <%= @user.introduction %>
    </div>
    <% if current_user == @user %>
      <div class="acount-edit">
        <%= link_to "プロフィールを編集する", edit_user_path(@user), class: "user-edit-btn" %>
      </div>
    <% end %>
    <div class="user-posts">
      <h3 class="page-title page-title-users"><hr>
        <% if current_user == @user %>
          <%= "#{@user.name}の投稿一覧" %>
          <hr>
        <% else %>
          <%= "#{@user.name}さんの投稿一覧" %>
          <hr>
        <% end %>
      </h3>
      <div class="user-posts-lower">
        <% @posts.each do |post| %>
          <%= link_to post_path(post) do %>
            <div class="image-container">
              <%= image_tag post.image.thumb.url, alt: "post-image", size: "170" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>