<div id="posts-index-container">
  <div class="search-container user-container">
    <h3 class="page-title page-title-post-new">ラーメンを検索
      <hr>
    </h3>
    <%= search_form_for @q do |f| %>
      <div class="form-group">
        <%= f.label :store, "店名", class: "label_1" %>
        <%= f.search_field :store_cont, placeholder: "店名で検索", class: "search_1" %>
      </div>
      <div class="form-group">
        <%= f.label :prefecture, "都道府県", class: "label_2"  %>
        <%= f.collection_select :prefecture_eq, JpPrefecture::Prefecture.all, :code, :name, include_blank: "都道府県で検索", class: "search_2" %>
      </div>
      <div class="form-group">
        <%= f.label :genre_eq, "ジャンル", class: "label_3" %>
        <%= f.select :genre_eq, [["醤油", "1"], ["味噌", "2"], ["塩", "3"], 
        ["豚骨", "4"], ["坦々麺", "5"], ["辛麺", "6"], ["つけ麺", "7"], 
        ["油そば", "8"]], include_blank: "ジャンルで検索", class: "search_3" %>
      </div>
      <div class="form-group">
        <%= f.label :sorts, "並び替え", class: "label_4" %>
        <%= f.select :sorts, [["日付の古い順", "created_at asc"], ["日付の新しい順", "created_at desc"]], include_blank: "選択して下さい", class: "search_4" %>
      </div>
      <div class="search-container-lower">
        <div class="form-group">
          <%= f.submit "検索" %>
        </div>
        <div class="form-group">
          <%= link_to "条件を全てクリア", posts_path %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @posts.blank? %>
    <p class="posts-blank-message">条件に該当するラーメンはありません。</p>
  <% else %>
    <div class="ramen-posts-container">
      <% @posts.each do |post| %>
        <div class="ramen-post-container">
          <%= link_to user_path(post.user) do %>
            <% if post.user.image? %>
              <%= image_tag post.user.image.thumb.url, size: "30", class: "user-icon" %>
            <% else %>
              <%= image_tag "default.jpg", alt: "user-icon", size: "30", class: "user-icon" %>
            <% end %>
            <div class="post-user-name-container">
              <%= post.user.name %>
            </div>
          <% end %>
          <%= link_to post_path(post) do %>
            <div class="image-container">
              <%= image_tag post.image.thumb.url, alt: "post-image", size: "250" %>
            </div>
            <div class="store-container">
              <%= post.store %>
            </div>
            <div class="prefecture-container">
              <%= post.prefecture %>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <div class="like-comment-container">
              <div id="likes_buttons_<%= post.id %>">
                <% if post.liked_by?(current_user) %>
                  <div class="likes">
                    <div class="likes-upper">
                      <%= link_to "/posts/#{post.id}/likes" do %>
                        <i class="fas fa-heart"></i>
                        <div class="likes-count">
                          <%= post.likes.count %>
                        </div>
                      <% end %>
                    </div>
                    <div class="likes-lower">
                      <%= link_to post_likes_path(post.id), method: :delete, remote: true do %>
                        <i class="far fa-grin-hearts"></i>
                        <p class="like like-on">食べたい！</p>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="likes">
                    <div class="likes-upper">
                      <%= link_to "/posts/#{post.id}/likes" do %>
                        <i class="fas fa-heart"></i>
                        <div class="likes-count">
                          <%= post.likes.count %>
                        </div>
                      <% end %>
                    </div>
                    <div class="likes-lower">
                      <%= link_to post_likes_path(post.id), method: :post, remote: true do %>
                        <i class="far fa-meh"></i>
                        <p class="like like-off">食べたい！</p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <p class="post-index-comment-count"><%= "コメント#{post.comment.count}件" %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @posts %>
</div>

