<% provide(:title, "投稿詳細") %>

<div id="containr" class="container-post-show">
  <div class="ramen-post-show-container">
    <div class="image-container ramen-post-show-container-1">
      <%= image_tag @post.image.thumb.url, alt: "post-image", size: "502" %>
    </div>
    <div class="ramen-post-show-container-2">
      <div class="ramen-post-show-container-2-upper">
        <%= link_to user_path(@post.user) do %>
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.thumb.url, size: "30", class: "user-icon" %>
          <% else %>
            <%= image_tag "default.jpg", alt: "user-icon", size: "30", class: "user-icon" %>
          <% end %>
          <div class="post-user-name-container">
            <%= @post.user.name %>
          </div>
        <% end %>
        <% if current_user %>
          <% if current_user.id == @post.user_id %>
            <div class="post-edit-link">
              <%= link_to "投稿を編集する", edit_post_path(@post) %>
            </div>
          <% else %>
            <%= render "users/follow_form" %>
          <% end %>
        <% end %>
      </div>
      <hr>
      <div class="ramen-post-show-container-2-lower">
        <div class="store-container">
          <%= @post.store %>
        </div>
        <div class="prefecture-container">
          都道府県：<%= @post.prefecture %>
        </div>
        <div class="genre-container">
          ジャンル：<%= @post.genre %>
        </div>
        <div class="image-container-responsive">
          <%= image_tag @post.image.thumb.url, alt: "post-image", size: "500" %>
        </div>
        <div class="ramen-container">
          品名：<%= @post.ramen %>
        </div>
        <hr class="between-r-i">
        <div class="impression-container">
          <%= @post.impression %>
        </div>
        <% if user_signed_in? %>
          <div id="likes_buttons_<%= @post.id %>">
            <%= render partial: 'likes/like', locals: { post: @post } %>
          </div>
        <% else  %>
          <div class="likes">
            <div class="likes-upper">
              <%= link_to "/posts/#{@post.id}/likes" do %>
                <i class="fas fa-heart"></i>
                <div class="likes-count">
                  <%= @post.likes.count %>
                </div>
              <% end %>
            </div>
            <div class="likes-lower">
              <%= link_to post_likes_path(@post.id), method: :post do %>
                <i class="far fa-meh"></i>
                <p class="like like-off">食べたい！</p>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="post-create-time">
          <%= "#{time_ago_in_words(@post.created_at)}前に投稿" %>
        </div>
      </div>
    </div>
    <div class="ramen-post-show-container-3">
      <div class="ramen-post-show-container-3-upper">
        <p><%= "コメント#{@comments.count}件" %></p>
        <hr>
      </div>
      <div class="comment-index">
        <% @comments.each do |comment| %>
          <% unless comment.user.blank? %>
            <div class="comment-list">
              <%= link_to user_path(comment.user_id) do %>
                <% if comment.user.image? %>
                  <%= image_tag comment.user.image.thumb.url, size: "30", class: "user-icon" %>
                <% else %>
                  <%= image_tag "default.jpg", alt: "user-icon", size: "30", class: "user-icon" %>
                <% end %>
              <% end %>
              <div class="comment-user-name-container">
                <%= link_to user_path(comment.user_id) do %>
                  <h6 class="comment-user-name">
                    <%= comment.user.name %><br>
                  </h6>
                <% end %>
                <%= comment.content %>
              </div>
            </div>
            <div class="comment-destroy">
              <% if user_signed_in? %>
                <% if comment.user_id == current_user.id || @post.user_id == current_user.id %>
                  <%= link_to post_comment_path(@post, comment), method: :delete, data: {confirm: "本当にコメントを削除しますか?", cancel: "やめる", commit: "削除する"}, title: "削除確認" do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="comment-create">
        <%= form_for [@post, @comment] do |f| %>
          <%= f.text_area :content, class: "form-control", rows: 5, placeholder: "コメントする...", maxlength: "250" %>
          <%= button_tag type: "submit", class: "btn btn-success" do %>
            <i class="far fa-comments"></i>  投稿する
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>